    body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            min-width: 350px;
        }
        
        input {
            width: 90%;
            margin: 20px auto;
            border: 6px double #0b5770f7;
            outline: none;
            padding: 5px;
            color: #0b5770f7;
            font-size: 18px;
        }
        
        button {
            background-color: #1a237e;
            color: #fff;
            text-align: center;
            line-height: 20px;
            height: 40px;
            font-size: 20px;
            width: 150px;
            cursor: pointer;
            transition: all .4s linear;
            border: 3px solid #0b5770f7;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background: #0b5770f7;
            margin: 10px auto;
        }
        
        button#saveInput:hover,
        button#saveTab:hover {
            background-color: #fffffff7;
            color: #0b5770f7;
        }
        
        button#deleteAll {
            color: #0b5770f7;
            background-color: #fff;
        }
        
        button#deleteAll:hover {
            background-color: #0b5770f7;
            color: #fff;
        }
        
        ul {
            padding-left: 10px;
            list-style-type: square;
        }
        
        ul li {
            text-align: left;
            color: #0b5770f7;
            margin-top: 10px;
            overflow: hidden;
        }
        
        ul li a {
            color: #0b5770f7;
            font-size: 17px;
            overflow: hidden;
            padding: 2px 3px;
        }
        
        ul li a:visited {
            color: #0b5770f7;
        }
        
        @media(max-width:767px) {
            button {
                width: 49%;
            }
            button#deleteAll,
            input,
            ul {
                width: 100%;
            }
        }
        
        *::selection {
            color: #fff;
            background-color: #0b5770f7;
        }
